
body {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #e1dfe6;
}

h1{
    font-family: "Telex", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    color: #2F3E4E;
}

h2{
    font-family: "Telex", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    color: white;
}

img {
    position: fixed;
    right: 00px;
    bottom: 0px;
    width: 800px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
}